In [36]:
import pandas as pd

In [37]:
df1 = pd.DataFrame({'AUTOS':['Nissan', 'Ford' ,'VMV'],
                    'COLOR':['blanco', 'azul', 'cafe']})

In [38]:
df2 = pd.DataFrame({'AUTOS':['Nissan', 'Ford' ,'Toyota'],
                    'MODELO':[2028, 2025, 2020]})

In [39]:
df2

    AUTOS  MODELO
0  Nissan    2028
1    Ford    2025
2  Toyota    2020

In [40]:
#df = pd.concat([df1, df2])
#df = pd.concat([df1, df2], axis = 1)
df = pd.merge(df1, df2, on='AUTOS')

In [41]:
df

    AUTOS   COLOR  MODELO
0  Nissan  blanco    2028
1    Ford    azul    2025

In [ ]:
df = pd.merge(df1, df2, on='AUTOS', how='outer')