In [2]:
import pandas as pd

In [6]:
convertir = pd.read_excel('ModalidaClases.xlsx')

In [8]:
convertir.to_csv('estudiantes.csv', index=None, header=True)

In [9]:
df = pd.read_csv('estudiantes.csv')

In [11]:
df

  NOMBRE  EDAD GENERO      CARRERA SEMESTRE
0  Jairo    28      M  Informatica  Primero
1  Jarez    28      M  Informatica  Primero
2  Ailen     2      F     Medicina  Primero
3  Juvel    25      F       Dibujo   Quinto
4   Sara    38      F       Ventas   Cuarto
5  Sofia    44      F      Derecho  Segundo