In [5]:
import pandas as pd

In [1]:
data = {'NOMBRE':['jairo','jose','jarez','parrotset'], 
        'CLASE': ['paladin', 'nigromante', 'aventurero', 'pirata'],
       'NIVEL': [45,22,13,44]}

In [3]:
jugadores = pd.DataFrame(data)

In [4]:
print(jugadores)

      NOMBRE       CLASE  NIVEL
0      jairo     paladin     45
1       jose  nigromante     22
2      jarez  aventurero     13
3  parrotset      pirata     44